header {
  @include flex(flex, row, space-between, center, nowrap);
  @include box(100vw, 10vh);
  background-color: darkseagreen;
  
  nav:last-child {    // right-side links
    @include flex(flex, row, flex-end, center, nowrap);
  }

  nav {               // left-side links
    @include flex(flex, row, flex-start, center, nowrap);
    @include screen('desktop') {
      width: 33vw;
    }

    svg {
      display: block;
      margin: $spacing-lg;
      cursor: pointer;
      @include icon;
      @include screen('desktop') {
        display: none;
      }
    }

    a {
      display: none;
      font-size: $size-xs;
      font-family: 'font-secondary';
      margin: 0 $spacing-lg;
      @include screen('desktop') {
        display: block;
      }
    }
  }

  h1 {
    font-family: 'font-primary';
    font-size: $size-xl;
  }
}

.ham-menu  {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
  padding: $spacing-lg;
  border: 1px solid #ccc;
  z-index: 2;
}
.show {
  display: block;
}

.hide {
  display: none;
}