header {
  @include flex(flex, row, space-between, center, nowrap);
  @include box(100vw, 10vh);
  background-color: darkseagreen;

  h1 {
    font-family: 'font-primary';
    font-size: 40px;
  }

  nav {
    .icon--menu {
      @include icon;
      margin: 1rem;
    }
    .icon--menu:hover {
      @include icon-hover;
    }
  }

  div {
    .icon--user {
      @include icon;
      margin: 1rem;
    }
    .icon--user:hover {
      @include icon-hover;
    }
  }
}