.category__carousel {
  @include flex(flex, column, center, center, nowrap);
  background-color: lightsalmon;
  position: relative;
  overflow: hidden;

  .title__cont {

    h3 {
      color: brown;
      font-family: 'font-primary';
      font-size: 1.4rem;
      width: 85vw;
    }
  }

  .carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 0.75rem;
    cursor: pointer;
    z-index: 1;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: default;
    }
  
    &--prev {
      left: 1vw;
    }
  
    &--next {
      right: 1vw;
    }
  
    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .category__carousel__cont {
    @include flex(flex, row, flex-start, center, nowrap);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(1rem);
  }
  
  .category__carousel__cont a {
    @include flex(flex, row, center, center, nowrap);
    position: relative;
    color: white;
    font-family: 'font-secondary';
    text-decoration: none;
    overflow: hidden;
  }
  
  .category__carousel__cont a:hover img {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease;
    filter: brightness(0.4);
  }
  
  .category__carousel__cont a::after {
    content: attr(data-hover-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .category__carousel__cont a:hover::after {
    opacity: 1;
    filter: none;
  }
  
  .category__carousel__cont img {
    width: 30vw;
    height: 8rem;
    display: block;
    border: 0;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    border: 0.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .category__carousel__cont a {
    flex: 0 0 calc(100% / 3);
  }
}