.category__carousel {
  @include flex(flex, column, center, center, nowrap);
  background-color: lightsalmon;
  position: relative;
  overflow: hidden;
  // margin: auto;

  .title__cont {
    outline: 1px solid green;

    h3 {
      color: brown;
      font-family: 'font-primary';
      font-size: 1.4rem;
      width: 85vw;
    }
  }
}

.category__carousel__cont {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.category__carousel__cont a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.category__carousel__cont a:hover img {
  transform: scale(1.1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.category__carousel__cont a::after {
  content: attr(data-hover-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.category__carousel__cont a:hover::after {
  opacity: 1;
}

.category__carousel__cont img {
  width: 30vw;
  height: 8rem;
  display: block;
  border: 0;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.carousel__btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  &--prev {
    left: 1vw;
  }

  &--next {
    right: 1vw;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 768px) {
  .category__carousel__cont a {
    flex: 0 0 calc(100% / 3);
  }
}