.dailyupdate {
  @include flex(flex, column, center, center, nowrap);
  background-color: lightblue;

  .dailyupdate__cont {
    @include flex(flex, column, center, flex-start, nowrap);

    .title__cont {
      
      h3 {
        color: brown; //
        font-family: 'font-primary';
        font-size: 1.4rem;
      }
    }

    .img__cont {

      img {
        width: 80vw;
        height: 22rem;
        object-fit: cover;
        object-position: center;
      }
    }

    .details__cont {
      @include flex(flex, column, center, space-between, nowrap);

      .details__title__cont {
        
        h6 {
          color: brown; //
          font-family: 'font-secondary';
          font-size: 1.2rem;
        }
      }

      .details__info__cont {
        @include flex(flex, row, space-between, center, nowrap);
        width: 80vw;

        .time__cont {
          @include flex(flex, row, center, center, nowrap);

          p {
            font-family: 'font-secondary';
            font-size: 1rem;
          }

          .icon--clock {
            @include icon;
            @include icon-small;
          }
        }

        .favorite__cont {
          @include flex(flex, row, center, center, nowrap);

          .icon--heartplus {
            @include icon;
          }
    
          .icon--heartplus:hover {
            @include icon-hover;
          }
        }
      }
    }
  }
}