.recipedetails {
  @include flex(flex, column, center, center, nowrap);
  background-color: lightseagreen;

  h2 {

  }

  .img__cont {

    img {
      width: 85vw;
      height: 25rem;
      object-fit: cover;
      object-position: center;
      outline: 1px dotted yellow;
    }
  }

  .time-info__cont {
    @include flex(flex, row, center, center, nowrap);

    .pre {
      @include flex(flex, column, space-evenly, center, nowrap);
      @include box(33.33vw, 10rem);
      outline: 1px dotted black;
    }

    .baked {
      @include flex(flex, column, space-evenly, center, nowrap);
      @include box(33.33vw, 10rem);
      outline: 1px dotted black;
    }

    .total {
      @include flex(flex, column, space-evenly, center, nowrap);
      @include box(33.33vw, 10rem);
      outline: 1px dotted black;
    }
  }
}