.spot {
  @include flex(flex, column, center, center, nowrap);
  background-color: lightblue;

  .title__cont {
    @include flex(flex, row, center, center, nowrap);

    h3 {
      font-size: 1.4rem;
    }
  }

  .img__cont {

    img {
      width: 85vw;
      height: 18rem;
      object-fit: cover;
      object-position: center;
    }
  }

  .details__cont {
    @include flex(flex, column, center, flex-start, nowrap);
    width: 85vw;

    .details__title__cont {

      h6 {
        color: brown; //
        font-family: 'font-secondary';
        font-size: 1.2rem;
      }
    }

    .details__info__cont {
      @include flex(flex, row, flex-start, center, nowrap);

      p {
        font-family: 'font-secondary';
        font-size: 1rem;
      }
    }
  }
}