@charset "UTF-8";
/*
  375-480 : Nagyobb telefonok iPhone 11-13 pro Max
  768-1024 : Közepes méretü tabletek, iPad-ek, kissebb laptopok
  1024-1440 : Közepes és nagyobb kijelzők. Sok nagy monitor és a modern nagyfelbontású laptopok ebbe a sávba esnek.
  1440+ : Ultra széles monitorok, nagyfelbontású desktopok és professzionális munkára használt kijelzők.

  375x812 : Ez a felbontás sok felhasználó eszközén jelenik meg, így érdemes alapértelmezett mobil méretként kezelni a mobil-first design során.
  768x1024 : A legtöbb fejlesztő ezt a felbontást használja referenciaként, amikor tablet-nézetet tervez.
  1024x768 : nagyon elterjedt a tabletek fekvő módjában, az egyik átmeneti méret a tabletek és asztali monitorok között.
  1280x800 : A reszponzív designban ez az egyik legjellemzőbb szélesség, ami az asztali (desktop) felhasználói élmény kezdetét jelzi, miközben a tablet nézetek is közel állnak hozzá.
  1440x900 : 1440px általában az egyik legnagyobb kijelzők közé tartozik, amit érdemes figyelembe venni.
*/
/*
@include screen(desktop) {
  width: 80vw;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

@font-face {
  src: url(../assets/fonts/ProtestRevolution-Regular.ttf);
  font-family: "font-primary";
}
@font-face {
  src: url(../assets/fonts/Afacad-VariableFont_wght.ttf);
  font-family: "font-secondary";
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: bisque;
}
.searchbar form {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.searchbar form input {
  width: 70vw;
  margin: 0.5rem;
  padding: 0.35rem;
  border-radius: 1rem;
}
.searchbar form .icon--search {
  fill: black;
  width: 1.8rem;
  height: auto;
}
.searchbar form .icon--search:hover {
  fill: grey;
}

.dailyupdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: lightblue;
}
.dailyupdate .dailyupdate__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.dailyupdate .dailyupdate__cont .title__cont h3 {
  color: brown;
  font-family: "font-primary";
  font-size: 1.4rem;
}
.dailyupdate .dailyupdate__cont .img__cont img {
  width: 85vw;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.dailyupdate .dailyupdate__cont .details__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
}
.dailyupdate .dailyupdate__cont .details__cont .details__title__cont h6 {
  color: brown;
  font-family: "font-secondary";
  font-size: 1.2rem;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 85vw;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .time__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .time__cont p {
  font-family: "font-secondary";
  font-size: 1rem;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .time__cont .icon--clock {
  fill: black;
  width: 1.8rem;
  height: auto;
  width: 1rem;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .favorite__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .favorite__cont .icon--heartplus {
  fill: black;
  width: 1.8rem;
  height: auto;
}
.dailyupdate .dailyupdate__cont .details__cont .details__info__cont .favorite__cont .icon--heartplus:hover {
  fill: grey;
}

.foodcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 42vw;
  height: auto;
}
.foodcard img {
  width: 100%;
  height: auto;
}
/* Alapbeállítások a carousel-hez */
.category__carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.category__carousel .title__cont {
  width: 85vw;
}
.category__carousel .title__cont h3 {
  color: brown;
  font-family: "font-primary";
  font-size: 1.4rem;
}

/* Carousel tartalom */
.category__carousel__cont {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Smooth mozgás */
  will-change: transform; /* Optimalizált renderelés */
}

/* Linkek (a képek körül) */
.category__carousel__cont a {
  display: flex;
  justify-content: center;
  text-decoration: none; /* Alapértelmezett aláhúzás eltávolítása */
}

/* Képek */
.category__carousel__cont img {
  width: 30vw; /* A kép teljes szélességet kitölti a linkben */
  height: 8rem; /* Arányosan méretezi magát */
  display: block; /* Felesleges margók elkerülése */
  border: 0; /* Ha a böngésző alapértelmezetten keretet adna a képre */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Navigációs gombok */
.carousel__btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Átlátszó fekete háttér */
  color: white;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  z-index: 1; /* Mindig a képek felett legyen */
  border-radius: 50%; /* Kör alakú gomb */
}

.carousel__btn:disabled {
  opacity: 0.3; /* Halványított állapot */
  pointer-events: none; /* Kattinthatóság tiltása */
  cursor: default; /* Alapértelmezett egérkurzor */
}

.carousel__btn--prev {
  left: 10px;
}

.carousel__btn--next {
  right: 10px;
}

/* Gomb hover állapot */
.carousel__btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Reszponzív megjelenítés */
@media (max-width: 768px) {
  .category__carousel__cont a {
    flex: 0 0 33.3333333333%; /* Mobilon 2 kép jelenjen meg */
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 10vh;
  background-color: darkseagreen;
}
header h1 {
  font-family: "font-primary";
  font-size: 40px;
}
header nav .icon--menu {
  fill: black;
  width: 1.8rem;
  height: auto;
  margin: 1rem;
}
header nav .icon--menu:hover {
  fill: grey;
}
header div .icon--user {
  fill: black;
  width: 1.8rem;
  height: auto;
  margin: 1rem;
}
header div .icon--user:hover {
  fill: grey;
}/*# sourceMappingURL=main.css.map */