@charset "UTF-8";
/*
@include screen('desktop') {
  width: 80vw;
}
*/
/*
  375-480 : Nagyobb telefonok iPhone 11-13 pro Max
  768-1024 : Közepes méretü tabletek, iPad-ek, kissebb laptopok
  1024-1440 : Közepes és nagyobb kijelzők. Sok nagy monitor és a modern nagyfelbontású laptopok ebbe a sávba esnek.
  1440+ : Ultra széles monitorok, nagyfelbontású desktopok és professzionális munkára használt kijelzők.

  375x812 : Ez a felbontás sok felhasználó eszközén jelenik meg, így érdemes alapértelmezett mobil méretként kezelni a mobil-first design során.
  768x1024 : A legtöbb fejlesztő ezt a felbontást használja referenciaként, amikor tablet-nézetet tervez.
  1024x768 : nagyon elterjedt a tabletek fekvő módjában, az egyik átmeneti méret a tabletek és asztali monitorok között.
  1280x800 : A reszponzív designban ez az egyik legjellemzőbb szélesség, ami az asztali (desktop) felhasználói élmény kezdetét jelzi, miközben a tablet nézetek is közel állnak hozzá.
  1440x900 : 1440px általában az egyik legnagyobb kijelzők közé tartozik, amit érdemes figyelembe venni.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

@font-face {
  src: url(../assets/fonts/ProtestRevolution-Regular.ttf);
  font-family: "font-primary";
}
@font-face {
  src: url(../assets/fonts/Afacad-VariableFont_wght.ttf);
  font-family: "font-secondary";
}
.category__carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: lightsalmon;
  position: relative;
  overflow: hidden;
}
.category__carousel .title__cont h3 {
  color: brown;
  font-family: "font-primary";
  font-size: 1.4rem;
  width: 85vw;
}
.category__carousel .carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  cursor: pointer;
  z-index: 1;
}
.category__carousel .carousel__btn:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
.category__carousel .carousel__btn--prev {
  left: 1vw;
}
.category__carousel .carousel__btn--next {
  right: 1vw;
}
.category__carousel .carousel__btn:hover {
  background: rgba(0, 0, 0, 0.7);
}
.category__carousel .category__carousel__cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(1rem);
}
.category__carousel .category__carousel__cont a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  color: white;
  font-family: "font-secondary";
  text-decoration: none;
  overflow: hidden;
}
.category__carousel .category__carousel__cont a:hover img {
  transform: scale(1.1);
  transform-origin: center;
  transition: transform 0.3s ease;
  filter: brightness(0.4);
}
.category__carousel .category__carousel__cont a::after {
  content: attr(data-hover-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.category__carousel .category__carousel__cont a:hover::after {
  opacity: 1;
  filter: none;
}
.category__carousel .category__carousel__cont img {
  width: 30vw;
  height: 8rem;
  display: block;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s ease-in-out;
  border: 0.5rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .category__carousel__cont a {
    flex: 0 0 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    width: 33vw;
  }
}
nav svg {
  display: block;
  margin: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  nav svg {
    display: none;
  }
}
nav a {
  display: none;
  margin: 1rem;
}
@media screen and (min-width: 1024px) {
  nav a {
    display: block;
  }
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.recipecard-m {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 15rem;
  height: 15rem;
  outline: 1px solid blue;
  background-color: lavender;
}
.recipecard-m h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: brown;
}
.recipecard-m img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.recipecard-l {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  outline: 1px solid blue;
  background-color: lavender;
}
.recipecard-l .img__cont {
  /* Placeholder for future styles */
}
.recipecard-l .img__cont img {
  width: 12rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.recipecard-l .content__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.recipecard-l .content__cont h2 {
  color: brown;
}
.recipecard-l .content__cont p {
  color: green;
}

.recipedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: lightseagreen;
}
.recipedetails h2 {
  /* Placeholder for future styles */
}
.recipedetails .img__cont {
  /* Placeholder for future styles */
}
.recipedetails .img__cont img {
  width: 85vw;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  outline: 1px dotted yellow;
}
.recipedetails .time-info__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.recipedetails .time-info__cont .pre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 33.33vw;
  height: 10rem;
  outline: 1px dotted black;
}
.recipedetails .time-info__cont .baked {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 33.33vw;
  height: 10rem;
  outline: 1px dotted black;
}
.recipedetails .time-info__cont .total {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 33.33vw;
  height: 10rem;
  outline: 1px dotted black;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 5rem;
  background-color: bisque;
}
aside form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
aside form input {
  width: 60vw;
  margin: 0.5rem;
  padding: 0.35rem;
  border-radius: 1rem;
}
aside form .icon--search {
  /* Placeholder for future styles */
}
aside form .icon--search:hover {
  /* Placeholder for future styles */
}

.spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: lightblue;
}
.spot .title__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.spot .title__cont h3 {
  font-size: 1.4rem;
}
.spot .img__cont img {
  width: 85vw;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.spot .details__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 85vw;
}
.spot .details__cont .details__title__cont h6 {
  color: brown;
  font-family: "font-secondary";
  font-size: 1.2rem;
}
.spot .details__cont .details__info__cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.spot .details__cont .details__info__cont p {
  font-family: "font-secondary";
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 4rem;
  background-color: darkseagreen;
}
header h1 {
  font-family: "font-primary";
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}/*# sourceMappingURL=main.css.map */