$font-primary: "../assets/fonts";
@font-face {
  src: url(#{$font-primary}/ProtestRevolution-Regular.ttf);
  font-family: 'font-primary';
}

$font-secondary: "../assets/fonts";
@font-face {
  src: url(#{$font-secondary}/Afacad-VariableFont_wght.ttf);
  font-family: 'font-secondary';
}